name: Deploy master branch

on:
  push:
    branches:
      - django

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [21.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }} 

    - name: Install dependencies
      run: npm install

    - name: Make envfile
      uses: SpicyPizza/create-envfile@v2.0
      with:
        file_name: .env
        SQL_USER: ${{secrets.SQL_USER}}
        SQL_PASSWORD: ${{secrets.SQL_PASSWORD}}
        SQL_DATABASE: ${{secrets.SQL_DATABASE}}
        DB_URL : ${{secrets.DB_URL}}
        JWT_SECRET: ${{secrets.JWT-SECRET}}
          
    - name: Compile typescript
      run: npm run build

    - run: npm ci
    - name: serverless deploy
      uses: serverless/github-action@v3.2
      with:
        args: deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'eu-south-2'
        SOURCE_DIR: 'dist'
  